body
{
	background:#ecd8c6;
	display:flex;
	flex-direction:column;
	
}
header
{
	display:flex;
	justify-content:center;
	width:100%;
	border:1px solid black;
	background-image: url(banniere.jpg);
	height:50px;
	text-align:center;
}
footer
{
	display:flex;
	justify-content:center;
	self-align: flex-end;
}
section
{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		margin-top:70px;
		
}
nav
{
	background-color:#ffccb3;
	font-size:0.8em;
	font-family:arial;
	width:14%;
	height:260px;
	border-right: none;
	border-bottom: none;
	overflow:auto;
	margin-right:10px;
	padding-top:20px;
	padding-left:none;
	padding-right:20px;
}
aside
{
	font-family:tahoma;
	border:none;
	overflow:auto;
	
	
}
h1
{
	font-family:Impact;
	font-weight:bold;
	text-decoration:underline;
	font-size:2em;
	text-align:left;
	color:#FF0000;
	border:none;
	margin:auto;
}
h2
{
	margin:auto;
	border: none;
	font-family:impact;
	font-size:1.5em;
	text-decoration:underline;
	text-align:left;
	color:#ff6666;
	margin-left:5%;
	margin-top:2%;
}
article
{
	width:43%;
	font-family:"times new roman";
	color:solid black;
	border: none;
}
table
{
	border-collapse:collapse;
	font-size:0.8em;
}
td
{
	border:none;
}
p
{
	border:none;
}